<!DOCTYPE html>
<html>
  <head>
    <title>BorderLine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">

        <%= link_to "Products", products_path, class: "button button-primary"  %>
        <%= link_to "Stores", stores_path, class: "button button-primary" %>
        <div class="navbar">
        <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path,
                  method: :delete, class: "buffer-small button button-primary" %>
          <% else %>
          <%= link_to "Log in", new_user_session_path, class: 'buffer-small button button-primary' %>
          <%= link_to "Sign up", new_user_registration_path, class: 'buffer-small button button-primary' %>
        <% end %>
      </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
  </body>
</html>
