<!DOCTYPE html>
<html>
  <head>
    <title>BorderLine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <tr>
        <td><%= link_to "Products", products_path, class: "button button-primary"  %></td>
        <td><%= link_to "Create Product", new_product_path, class: "button button-primary" %></td>
      </tr>
      <%= yield %>
    </div>
  </body>
</html>
